
@page "/Accessibility"

<PageTitle>Accessibility</PageTitle>

<h1>Accessibility</h1>

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudSwitch @bind-Value="_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" />
@code {
    private MudTheme _theme = new();
    private bool _isDarkMode;
}