@page "/Animals"

<PageTitle>Animals</PageTitle>

<h3>Meet The Animals</h3>

<MudImage Src="/Images/Chameleon image.jpeg" Alt="Charles The Chameleon" Elevation="25" Class="rounded-lg" />

<MudImage Src="/Images/Parrot image.jpeg" Alt="David the Parrot" Elevation="25" Class="rounded-lg" />

<MudImage Src="/Images/Tiger image.jpeg" Alt="Terrance the Tiger" Elevation="25" Class="rounded-lg" />

@code {

}
