@using RZAWebsite_JC.Utilities
@using RZAWebsite_JC.Services
@inject UserSession UserSession
@inject CustomerService CustomerService

@rendermode InteractiveServer

@page "/Modify"

<p>new password</p>
<input @bind-value=@newPassword/>
<p>Old Password</p>
<input @bind-value=@oldPassword />
<p>confirm old password</p>
<input @bind-value=@oldPasswordConfirm />
<button onclick=@ChangePassword>Change Password</button>

<h3>Modify</h3>

@code {
    private string newPassword;
    private string oldPassword;
    private string oldPasswordConfirm;
    private async Task ChangePassword()
    {
        if (oldPassword == oldPasswordConfirm)
        {
            await CustomerService.ChangePasswordAsync(UserSession.UserId, oldPassword, newPassword);
        }
    }
}
