@using RZAWebsite_JC.Services
@using RZAWebsite_JC.Models
@inject CustomerService CustomerService

@page "/Register"

<h1>Register</h1>

<div>
    <label>Username</label>
    <input @bind=NewCustomer.Username>
</div>
<div>
    <label>Password</label>
    <input type="password" @bind=NewCustomer.Password>
</div>
<div>
    <label>First Name</label>
    <input @bind=NewCustomer.FirstName>
</div>
<div>
    <label>Last Name</label>
    <input @bind=NewCustomer.LastName>
</div>
<div>
    <label>Email</label>
    <input @bind=NewCustomer.Email>
</div>
<button @onclick=RegisterCustomer>Register</button>

@code {
    private Customer NewCustomer = new Customer();

    private async Task RegisterCustomer()
    {
        await CustomerService.AddCustomerAsync(NewCustomer);
        Console.WriteLine("button was clicked");
    }

}
